body {
	color: #212121;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
}
img {
	max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
a, a:visited, a:hover {
	color: #0071bc;
}
hr {
  margin-bottom: 30px;
  margin-top: 30px;
  border-color: #f1f1f1;
  border-width: 1px;
}
p {
  font-size: 125%;
}

/* Forms */

label {
  display: block;
}
.form-control {
  margin-bottom: 10px;
}

/* General classes */

.lead {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

/* Secondary page */

.content-secondary {
  padding-bottom: 50px;
  padding-top: 30px;
}

/* Box */

.box-outer {
  background-color: #205493;
}
.box {
  background-color: #fff;
  border-radius: 3px;
  padding: 10px 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.box h2 {
  font-size: 25px;
}

/* Icons */

.icon .fa {
  color: #0071bc;
  font-size: 75px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Card */

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body {
    padding: .75rem 1.25rem;
}
.card .btn-link {
    font-size: 18px;
    font-weight: 400;
    color: #0071bc;
    background-color: transparent;
}
/* images */

.feature img {
  border-radius: 5px;
  border: 10px solid #f1f1f1;
}
.partners img {
  margin: 30px 0 40px;
}

/* Navbar */

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar img {
  margin-top: 8px;
  max-height: 35px;
}
.navbar-brand {
  font-weight: 700;
}
.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	background-color: #205493;
	border-color: #205493;
}
.navbar-inverse .navbar-toggle {
	border-color: #ffffff;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background: #205493;
}
.navbar-header a, .navbar-header a:visited, .navbar-header a:hover {
  color: #ffffff;
}

/* Masthead */

.bs-docs-masthead h1 {
  padding-bottom: 10px;
}
.bs-docs-masthead p.lead {
  margin-bottom: 0;
  padding-bottom: 0;
}
.bs-docs-masthead,
.bs-docs-header {
  margin-bottom: 0;
  position: relative;
  padding: 30px 0;
  color: #fff;
  text-align: center;
  background-color: #112e51;
  background-image: url('../img/hero.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.bs-docs-masthead .container {
  padding-bottom: 50px;
  padding-top: 50px;
}
.bs-docs-masthead a, .bs-docs-masthead a:visited {
	color: #ffffff;
}
.bs-docs-masthead .bs-docs-booticon {
  margin: 0 auto 30px;
}
.bs-docs-masthead h1 {
  font-weight: 900;
  line-height: 1;
  color: #fff;
}
.bs-docs-masthead hr {
	border-top: 1px solid #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bs-docs-masthead .lead {
  margin: 0 auto 30px;
  font-size: 20px;
  color: #fff;
}
.bs-docs-masthead .btn {
  width: 100%;
  padding: 15px 30px;
  font-size: 20px;
}
.bs-docs-masthead a, .bs-docs-masthead a:visited {
  text-decoration: underline;
}
.bs-docs-masthead a:hover {
  text-decoration: none;
}
@media (min-width: 480px) {
  .bs-docs-masthead .btn {
    width: auto;
  }
}

@media (min-width: 768px) {
  .bs-docs-masthead {
    padding: 80px 0;
  }
  .bs-docs-masthead h1 {
    font-size: 60px;
  }
  .bs-docs-masthead .lead {
    font-size: 24px;
  }
}

/* Online */

.online {
  background-color: #112e51;
  background-image: url('../img/hero-online.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 30px 0;
}
.online h2, .online p {
  color: #ffffff;
}
.online h2 {
  padding-bottom: 20px;
  font-size: 40px;
}

/* Official */

.official {
  background: #ffffff;
  padding: 7px 0;
}
.official p {
  font-size: 90%;
  margin: 0 0;
  padding: 0 0;
}
.official img {
  margin-right: 10px;
  max-width: 60px;
}
.official-footer {
  background-color: #ffffff;
  padding: 15px 0 55px 0;
}
.official-footer img {
  max-width: 175px;
}

/* alphabar */

.alphabar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
}
.alphabar p {
  font-size: 90%;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* Footer */

.footer {
	padding-bottom: 40px;
	padding-top: 40px;
  background-color: #205493;
  background-position: right bottom;
  background-repeat: no-repeat;
}
.footer a, .footer a:visited, .footer {
	color: #fff;
}
.footer .fa {
  font-size: 150%;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.footer hr {
  margin-bottom: 30px;
  margin-top: 30px;
  border-color: #ffffff;
  border-width: 1px;
}
.footer img {
  max-width: 150px;
}
.footer p {
  font-size: 100%;
}

/* Search form */

.form-inline input {
  margin-top: 10px;
}

/* List group */

.list-group a, .list-group a:visited {
  color: #0071bc;
}

/* Buttons */

a.btn-primary, .btn-primary, a.btn-primary:hover, .btn-primary:hover {
  color: #fff;
  background-color: #0071bc;
  border: none;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 15px;
}
a.btn-primary:hover, .btn-primary:hover {
  text-decoration: none;
}

.btn-search, .btn-search:hover {
  color: #fff;
  background-color: #0071bc;
  border: none;
}

/* Search */

.gsc-control-cse {
  border-color: transparent !important;
  background-color: transparent !important;
}
.cse .gsc-search-button-v2, .gsc-search-button-v2 {
  font-size: 30px !important;
}
input.gsc-input {
  font-size: 40px !important;
  color: #212121;
}
